$primary-blue: #89CFF0;
$primary-mint: #B8EAE7;

$secondary-purple: #D6BBE8;
$secondary-dark-blue: #20303a;

$secondary-deep-blue: #365B6D;

$neutral-white: #ffffff;
$gray-white: #D3D3D3FF;
$dark-gray: #6e6d6d;

$background-color: $primary-mint;
$text-color: $secondary-dark-blue;
$button-background: $primary-blue;
$button-hover: $secondary-purple;
