$primary-blue: #365B6D;
$primary-mint: #B8EAE7;
$primary-green: #d4e3e1;

$secondary-purple: #84728f;
$secondary-dark-blue: #20303a;
$secondary-deep-blue: #365B6D;

$neutral-white: #ffffff;
$gray-white: #D3D3D3FF;
$dark-gray: #8e8e8e;
$dark-red: #980000;

$background-color: #96c2d3;
$text-color: $secondary-dark-blue;
$button-background: $primary-blue;
$button-hover: $secondary-purple;
